// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body{
 height: 100%;
 background-image: image-url('img/productback.jpg');
 text-align: center;
 font-family: 'Kelly Slab', cursive;
}

form
{
  display: inline-block;
}
